---
import { getAllPostsSorted, getPageOfPosts, getPostWithExtras } from "../lib/helpers";

const NO_OF_POSTS = 4;
const sortedPosts = await getAllPostsSorted();
const pagePosts = getPageOfPosts(sortedPosts, 1);
const postsWithExtras = getPostWithExtras(pagePosts);
---

<div class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
  <div class="container mx-auto space-y-8 px-4 py-16 lg:px-8 xl:max-w-7xl">
    <div class="flex flex-col space-y-4 lg:flex-row lg:items-center lg:space-y-0">
      <div class="text-center lg:w-1/2 lg:text-left">
        <h2 class="mb-2 text-4xl font-black text-black dark:text-white">Latest Posts ✍</h2>
        <h3 class="text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300">
          Sharing ideas and code (<a
            href="/blog/rss.xml"
            class="text-blue-600 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-300">RSS</a
          > available)
        </h3>
      </div>
      <div class="text-center lg:w-1/2 lg:text-right"></div>
    </div>

    <hr class="dark:border-gray-700/75" />

    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
      {
        postsWithExtras.slice(0, NO_OF_POSTS).map((post) => (
          <div>
            <p class="mb-1 text-sm font-medium text-gray-600 dark:text-gray-400">
              {post.data.date} · {post.readingTime} min read
            </p>
            <h4 class="mb-2 text-lg font-bold sm:text-xl">
              <a
                href={`/blog/${post.data.category.toLowerCase()}/${post.id}`}
                class="leading-7 text-gray-800 hover:text-gray-600 dark:text-gray-200 dark:hover:text-gray-400"
              >
                {post.data.title}
              </a>
            </h4>
            <p class="mb-2 text-sm leading-relaxed text-gray-600 dark:text-gray-400">{post.excerpt}...</p>
            <a
              href={`/blog/${post.data.category.toLowerCase()}/${post.id}`}
              class="text-sm font-medium text-blue-600 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-300"
            >
              Read More
            </a>
          </div>
        ))
      }
    </div>
  </div>
</div>
